<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="master" appConnect="local" -->
<div class="container">
    <div class="row">
        <div class="col">
            <form id="form1" is="dmx-serverconnect-form" method="post" action="/api/nova-conta/criar-conta">
                <p><label for="razao_social">Razao social:</label><input id="razao_social" name="razao_social" type="text" value=""></p>
                <p><label for="nome_fantasia">Nome fantasia:</label><input id="nome_fantasia" name="nome_fantasia" type="text" value=""></p>
                <p><label for="nome_polo">Nome polo:</label><input id="nome_polo" name="nome_polo" type="text" value=""></p>
                <p><label for="cnpj">Cnpj:</label><input id="cnpj" name="cnpj" type="text" value=""></p>
                <p><label for="cep">Cep:</label><input id="cep" name="cep" type="text" value=""></p>
                <p><label for="whatsapp">Whatsapp:</label><input id="whatsapp" name="whatsapp" type="text" value=""></p>
                <p><label for="status_empresa">Status empresa:</label><input id="status_empresa" name="status_empresa" type="text" value=""></p>
                <p><label for="endereco">Endereco:</label><input id="endereco" name="endereco" type="text" value=""></p>
                <p><label for="numero">Numero:</label><input id="numero" name="numero" type="text" value=""></p>
                <p><label for="complemento">Complemento:</label><input id="complemento" name="complemento" type="text" value=""></p>
                <p><label for="bairro">Bairro:</label><input id="bairro" name="bairro" type="text" value=""></p>
                <p><label for="cidade">Cidade:</label><input id="cidade" name="cidade" type="text" value=""></p>
                <p><label for="uf">Uf:</label><input id="uf" name="uf" type="text" value=""></p>
                <p><label for="id_empresa">Id empresa:</label><input id="id_empresa" name="id_empresa" type="text" value=""></p>
                <p><label for="nome_completo">Nome completo:</label><input id="nome_completo" name="nome_completo" type="text" value=""></p>
                <p><label for="nome_tratamento">Nome tratamento:</label><input id="nome_tratamento" name="nome_tratamento" type="text" value=""></p>
                <p><label for="email">Email:</label><input id="email" name="email" type="text" value=""></p>
                <p><label for="senha_usuario">Senha usuario:</label><input id="senha_usuario" name="senha_usuario" type="text" value=""></p>
            </form>
        </div>
    </div>
</div>
<meta name="ac:route" content="/master">